<p>formulaire works!</p>
<div class="container">
<form [formGroup]="formresidence">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Id:</span>
        </div>
        <input type="text" class="form-control" formControlName="id">
        <div *ngIf="id!.invalid && id!.touched && id?.hasError?.('pattern')" class="alert alert-danger">
id is invalid
        </div>
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Name:</span>
        </div>
        <input type="text" class="form-control" formControlName="name">
     
        <div *ngIf="formresidence.get('name')!.invalid && formresidence.get('name')!.touched && formresidence.get('name')?.hasError('pattern')" class="alert alert-danger">
            name is invalid & lettre
                    </div>
        
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Address:</span>
        </div>
        <input  type="text" class="form-control" formControlName="address">
        <div *ngIf="formresidence.get('address')?.errors?.['minlength']" class="alert alert-danger">
address is invalid & min length 4
        </div>
    </div>
    <br>
    <input type="submit" class="btn btn-primary" (click)="add()" [disabled]="formresidence!.invalid">


</form>
</div>